<p><a href="{{ path('catalog_index') }}" >Главная</a></p>
<hr>

{% for item in items %}

    <p><a href="{{ path('catalog_category', {'name': item.name }) }}" 
            {%if current_path == path('catalog_category', {'name': item.name}) %} 
                class="active"
            {%endif%}
          >{{ item.name }}</a></p>
    <hr>

{% endfor %}
