{# src/Phplady/PageBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Главная страница {% if name %} - {{ name }} {% endif %}{% endblock %}

{% block body %}
    
    <h2>Каталог товаров{% if name %} / {{ name }} {% endif %}</h2>

    {% for item in pagination %}

        <p>{{ item.name }}</p>

    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
{% endblock %}
