<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="raw">
            <div class="col-sm-3 pt-40" >
                {% set current_path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                {{ render(controller('PhpladyCatalogBundle:Default:categories', { 'current_path': current_path})) }}
            </div>
            <div class="col-sm-9">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery/jquery-1.11.0.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
