<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="language" content="ru" />

    <title>Система администрирования - Территория Света</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/login.css') }}" />
</head>
<body>

<div class="osn">


    <div class="rope"></div>
    <div class="signin_container">

        {% if error %}

            <div class="lk" style="padding-top: 50px;"><img src="{{ asset('images/login/lk.png') }}" alt=""></div>

            <div class="error" style="padding-top: 10px;" >
                <p><span>Ошибка авторизации!</span></p>
                <p>Вы указали неверные данные для входа.</p>
            </div>

        {% else %}

            <div class="lk"><img src="{{ asset('images/login/lk.png') }}" alt=""></div>

        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="username" style="margin-top: 10px;">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Логин" size="30" class="inp" />
            </div>

            <div class="password" style="margin-top: 10px;">
                <input type="password" id="password" name="_password" required="required" placeholder="Пароль" size="30" class="inp" />
            </div>


            <div style="display: none;">
                <div style="float: left; margin-top: 10px;" ><input type="checkbox" id="remember_me" name="_remember_me" value="1" style="border: 0;" /></div>
                <div style="float: left; margin-top: 10px; margin-left: 5px; color: grey; font-size: 11px;" ><label for="remember_me" >Запомнить</label></div>
                <div class="clear" ></div>
            </div>

            <div class="button_container" style="margin-top: 10px;">
                <input type="submit" id="_submit" name="_submit" value="" class="button" />
            </div>

        </form>


    </div>

</div>

</body>
</html>