* { margin: 0; padding: 0; }

html, body { margin: 0; padding: 0; width: 100%; height: 100%; min-width: 969px; }
body { min-height: 100%; height: auto !important; background-color: #010406; background-position: center; position: relative; height: 100%; font-size: 14px; color: #000000; font-family: Arial, Verdana, Helvetica, sans-serif; overflow-x: hidden; }

.osn { width: 800px; height: 600px; background:url('../images/login/bgr.jpg') no-repeat; position: absolute; left: 50%; top: 50%; margin: -300px 0 0 -400px;  }

.signin_container { width: 378px; height: 315px; margin: 133px 0 0 211px; background:url('../images/login/signin.png') no-repeat; }
.rope { width: 52px; height: 166px; margin-left: 372px; background:url('../images/login/rope.gif') no-repeat; position: absolute; }
.lk { width: 148px; height: 17px; margin: 0 auto; padding-top: 84px; }

.username { width: 282px; height: 42px; background:url('../images/login/username.png') no-repeat; margin: 0 auto; }
.password { width: 282px; height: 42px; background:url('../images/login/password.png') no-repeat; margin: 0 auto; }
.button { width: 283px; height: 44px; background:url('../images/login/button.png') no-repeat; outline: none; border: none; }
.button_container { width: 283px; height: 44px; margin: 0 auto;  }

.inp { width: 240px; height: 38px; margin-left: 42px; font-size: 14px; color: #ffffff; background-color: transparent; border: none; outline: none; }

.error { color: #ffffff; width: 282px; margin: 0 auto; }

.clear { clear: both; }

